@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,500;1,600&display=swap");
@import "tailwindcss";

*::-webkit-scrollbar {
	display: none;
}
* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	font-family: "Host Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: rgb(244, 239, 231) !important;
}

:root {
	--primary: #f4efe7;
	--secondary: #2a2725;
	--muted: #b1a696;
	--background: #181717;
	--darkBrown: #332e2b;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-muted: var(--muted);
	--color-background: var(--background);
	--color-darkBrown: var(--darkBrown);
}

.label {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.2px;
}

.main-text {
	font-size: 23px;
	line-height: 26px;
	letter-spacing: -0.2px;
}

.main-text-small {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.2px;
}

.main-text-large {
	font-size: 35px;
	line-height: 38px;
	letter-spacing: -0.2px;
}

.section-title {
	font-size: 55px;
	line-height: 50px;
	letter-spacing: -0.2px;
}

.subtitle {
	font-size: 5vw;
	line-height: 5vw;
	color: var(--color-primary);
}
