@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,500;1,600&display=swap");
@import "tailwindcss";

*::-webkit-scrollbar {
	display: none;
}
* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	font-family: "Host Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	color: rgb(244, 239, 231) !important;
}

:root {
	--primary: #f4efe7;
	--secondary: #2a2725;
	--muted: #b1a696;
	--background: #181717;
	--darkBrown: #332e2b;
	--lightBrown: #b1a696;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-muted: var(--muted);
	--color-background: var(--background);
	--color-darkBrown: var(--darkBrown);
	--color-lightBrown: var(--lightBrown);
}

.label {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.2px;
}

.main-text {
	font-size: 23px;
	line-height: 26px;
	letter-spacing: -0.2px;
	@media (width >= 768px) {
		font-size: 2.6vw;
		line-height: 2.8vw;
	}
}

.main-text-small {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.2px;
	@media (width >= 768px) {
		font-size: 0.9vw;
		line-height: 1.4vw;
	}
}

.main-text-large {
	font-size: 35px;
	line-height: 38px;
	letter-spacing: -0.2px;
	@media (width >= 768px) {
		font-size: 5vw;
		line-height: 5vw;
	}
}

.section-title {
	font-size: 55px;
	line-height: 50px;
	letter-spacing: -0.2px;
	@media (width >= 768px) {
		font-size: 12vw;
		line-height: 10.5vw;
	}
}

.subtitle {
	font-size: 5vw;
	line-height: 5vw;
	color: var(--color-primary);
}

.line {
	transition: transform 0.3s ease;
	transform-origin: center;
	transform-box: fill-box;
}

.top,
.bottom {
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.top.active {
	transform: translate(0px, 5px) rotate(45deg);
}

.bottom.active {
	transform: translate(0px, -5px) rotate(-45deg);
}

.middle.active {
	opacity: 0;
}
